@media (min-width:0px){

    header a {
        padding-left: 33px;
    }
    header fa {
        font-size: 25px;
    }
    .headerBottom .col-sm-4 img{
        padding: 27px;
    }
    .headerBottom .media {display: none;}
    .cart1 {
        position: relative;
    }
    .cartNum {
        position: absolute;
        top: -8px;
        right: 7px;
    }
    .cart {
        float: right;
        padding-bottom: 20px;
    }
    .carousel-caption h1 {
        font-size: 14px;
    }   
    .carousel-caption h2 {
        font-size: 14px;
    }   
    .carousel-caption p {
        display: none;
    }

    .carousel-caption {
        text-align: right;
        top: 23%;
        right: 39%;
        width: 75%;
    }
    .carousel-caption button {
        padding: 4px;
    }
    .carousel-caption .learnmore {
        padding: 4px;
    }
    .wellness1 {
        position: relative;
        margin-bottom: 10px;
    }

    .wellness2 {
        position: absolute;
        width:  151px;
        left: 10px;
        bottom: 70px;
        color: #fff;
        top: 12px;
    }
    .foods {
        position: relative;
        margin-bottom: 10px;
    }

    .foods1 {
        position: absolute;
        width: 177px;
        left: 10px;
        bottom: 70px;
        color: #fff;
        top: 12px;
    }
    .foods2 {
        position: absolute;
        top: 47px;
        left: 23px;
    }
    .foods1 p:last-of-type  {
        display: none;
    }
    .foods2 img{
        z-index: -1;
    }
    .col-sm-3 {
        margin-bottom: 13px;
    }
    .col-sm-12 {
        margin-bottom: 13px;
    }
.store button {
    padding: 9px;
}
.chooseUs .col-sm-3 {
    margin-bottom: 39px;
}
#testimonial-slider {
     
    margin-top: 43px;
}
.testimonials .imgClient .col-sm-6 {
    
    margin-bottom: 35px;
}
  .contentAbsolute {
   visibility: hidden;
}
.figureProducts:hover .contentAbsolute {
    visibility: visible;
    text-align: center;
    position: absolute;
    background-color: #515151;
   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
padding: 88px;
}
.procentage {
    color: #2a2a2a;
    padding-left: 8px;
    padding-right: 20px;
}
.fa-heart-o::before {
    content: "\f08a";
}
*::before, *::after {
    padding-right: 9px;
}
.blog .content a {
    padding-left: 17px;
}
.blog .col-sm-4 {
    margin-top: 28px;
} 
.footerDiv span{
    padding-left: 9px;
} 
.newsletter {
    margin-top: 39px;
}
.offer {
    margin-top: 21px;
}
.blogArticle {
    margin-bottom: 33px;
    margin-top: 21px;
}
.blog1 .blogHover {
    padding: 46px; 
}
.blog1 .content .fa {
    padding-left: 6px;
}
.sideTags {
    margin-top: 61px;
}
.fancybox img {
    margin-bottom: 10px;
margin-top: 21px;
}
.divAuthor .media-left img {
    text-align: center;
    display: inline-block;
}
.singleComment {
    display: inline-block;
}
.divAuthor img {
    margin-left: 22%;
}
.divAuthor .media-left img { 
    margin-left: 0px;
}
.commentSingle1 {
    margin-top: 31px;
}
}










@media (min-width:768px){
    p.mailto {
        float: left;
    }
    p.headerSocial {
        float: right;
    }

    .cart1 {
        position: relative;
    }
    .cartNum {
        position: absolute;
        top: -8px;
        right: 7px;
    }
    .cart {
        float: right;
    }

    .headerBottom .media {
        display: block;
    }

    .carousel-caption {
        text-align: right;
        top: 20%;
        left: 20%;
        width: 30%;
    }
    .foods1 p:last-of-type  {
        display: block;
    }





}




@media (min-width:992px){



}






@media (min-width:1200px){

}
