@media (min-width:768px){
    p.mailto {
        float: left;
    }
    p.headerSocial {
        float: right;
    }

    .cart1 {
        position: relative;
    }
    .cartNum {
        position: absolute;
        top: -8px;
        right: 7px;
    }
    .cart {
        float: right;
    }
    .cart {
        margin-top: 43px;
    }
    .cartNum {
        margin-top: 44px;
    }
    .headerBottom .media {
        margin-top: 27px;
    }
    .navbar-nav> li{
        float: none;
        display: inline-block;
    }

    .headerBottom .media {
        display: block;
    }

    .carousel-caption h1 {
        font-size: 43px;
    }   
    .carousel-caption h2 {
        font-size: 36px;
    }   
    .carousel-caption p {
        display: inherit;
    }

    .carousel-caption {
        text-align: right;
        top: 12%;
        left: 53%;
        width: 33%;
    }
    .carousel-caption button {
        padding: 10px 25px 10px 20px;
    }
    .carousel-caption .learnmore {
        padding: 10px 25px 10px 20px;
    }
    .foods1 p:last-of-type  {
        display: block;
    }
    .formAppoinment {
        padding-right: 52px;
    }
    .procentage {
        color: #ffbe01;
        padding-left: 8px;
        padding-right: 20px;
    }
    .footerBody .openTime {
        margin-top: 38px;
    }
    /* BLOG PAGE START */
    .sideTags {
        margin-top: 37px;
    }
    /* BLOG PAGE END  */



}




@media (min-width:992px){

    /* SHOP PETS CSS START*/
    .filterMenu article {  
        margin-bottom: 71px;
        margin-top: 59px;
    }
    div.rangeSliderForm {
        width: 196px;
    }
    .nstSlider {
        width: 203px;
    }
    /* SHOP PETS CSS END*/


}






@media (min-width:1200px){
    element {
    }
    .navbar-nav > li {
        padding-left: 45px;
    }
    .headerBottom .media {
        margin-top: 27px;
    }

    p.mailto {
        margin-left: 47px;
    }
    p.headerSocial {
        margin-right: 100px;
    }
    .carousel-caption h1 {
        font-size: 43px;
    }   
    .carousel-caption h2 {
        font-size: 36px;
    }   
    .carousel-caption p {
        display: inherit;
    }

    .carousel-caption {
        text-align: right;
        top: 38%;
        left: 53%;
        width: 33%;
    }
    .carousel-caption button {
        padding: 10px 25px 10px 20px;
    }
    .carousel-caption .learnmore {
        padding: 10px 25px 10px 20px;
    }

    .col-sm-2 .fa {
        font-size: 29px;
    }
    .about {
        padding-bottom: 68px;
        padding-top: 55px;
    }
    .col-sm-offset-3 {
        margin-bottom: 26px;
    }
    .servicesOffer h3 {
        margin-left: 75px;
    }
    .servicesOffer p {
        margin-left: 73px;;
    }
    /* BLOG CSS START*/

    .navbar-nav > li {
        padding-left: 42px;
    }
    /* BLOG CSS END*/

    .sideContent {
        margin-top: 60px;
    }
    .productsDetails {
        margin-top: 30px;
    }
}
