@media (min-width:0px){

    header a {
        padding-left: 33px;
    }
    header fa {
        font-size: 25px;
    }
    .headerBottom .col-sm-4 img{
        padding: 27px;
    }
    .headerBottom .media {display: none;}
    .cart1 {
        position: relative;
    }
    .cartNum {
        position: absolute;
        top: -8px;
        right: 7px;
    }
    .cart {
        float: right;
        padding-bottom: 20px;
    }
    .carousel-caption h1 {
        font-size: 14px;
    }   
    .carousel-caption h2 {
        font-size: 14px;
    }   
    .carousel-caption p {
        display: none;
    }

    .carousel-caption {
        text-align: right;
        top: 23%;
        right: 39%;
        width: 75%;
    }
    .carousel-caption button {
        padding: 4px;
    }
    .carousel-caption .learnmore {
        padding: 4px;
    }
    .servicesOffer h3 {
        margin-left: 20px;
    }
    .servicesOffer p {
        padding-left: 15px;
    }
    .wellness1 {
        position: relative;
        margin-bottom: 10px;
    }

    .wellness2 {
        position: absolute;
        width:  151px;
        left: 10px;
        bottom: 70px;
        color: #fff;
        top: 12px;
    }
    .foods {
        position: relative;
        margin-bottom: 10px;
    }

    .foods1 {
        position: absolute;
        width: 177px;
        left: 10px;
        bottom: 70px;
        color: #fff;
        top: 12px;
    }
    .foods2 {
        position: absolute;
        top: 47px;
        left: 23px;
    }
    .foods1 p:last-of-type  {
        display: none;
    }
    .foods2 img{
        z-index: -1;
    }
    .col-sm-3 {
        margin-bottom: 13px;
    }
    .col-sm-12 {
        margin-bottom: 13px;
    }
    .store button {
        padding: 9px;
    }
    .chooseUs .col-sm-3 {
        margin-bottom: 39px;
    }
    #testimonial-slider {

        margin-top: 43px;
    }
    .testimonials .imgClient .col-sm-6 {

        margin-bottom: 35px;
    }
    .contentAbsolute {
        visibility: hidden;
    }

    .procentage {
        color: #2a2a2a;
        padding-left: 8px;
        padding-right: 20px;
    }
    .fa-heart-o::before {
        content: "\f08a";
    }
    *::before, *::after {
        padding-right: 9px;
    }
    .blog .content a {
        padding-left: 17px;
    }
    .blog .col-sm-4 {
        margin-top: 28px;
    } 
    .footerDiv span{
        padding-left: 9px;
    }
    .footerBody .openTime {
        margin-top: 59px;
    }
    .newsletter {
        margin-top: 39px;
    }
    .offer {
        margin-top: 21px;
    }
    .blogArticle {
        margin-bottom: 33px;
        margin-top: 21px;
    }
    .blog1 .blogHover {
        padding: 46px; 
    }
    .blog1 .content .fa {
        padding-left: 6px;
    }
    .sideTags {
        margin-top: 61px;
    }
    .fancybox img {
        margin-bottom: 10px;
        margin-top: 21px;
    }
    .divAuthor .media-left img {
        text-align: center;
        display: inline-block;
    }
    .singleComment {
        display: inline-block;
    }
    .divAuthor img {
        margin-left: 22%;
    }
    .divAuthor .media-left img { 
        margin-left: 0px;
    }
    .commentSingle1 {
        margin-top: 31px;
    }
}










@media (min-width:768px){
    p.mailto {
        float: left;
    }
    p.headerSocial {
        float: right;
    }

    .cart1 {
        position: relative;
    }
    .cartNum {
        position: absolute;
        top: -8px;
        right: 7px;
    }
    .cart {
        float: right;
    }
    .cart {
        margin-top: 43px;
    }
    .cartNum {
        margin-top: 44px;
    }
    .headerBottom .media {
        margin-top: 27px;
    }
    .navbar-nav> li{
        float: none;
        display: inline-block;
    }
    
    .headerBottom .media {
        display: block;
    }

    .carousel-caption h1 {
        font-size: 43px;
    }   
    .carousel-caption h2 {
        font-size: 36px;
    }   
    .carousel-caption p {
        display: inherit;
    }

    .carousel-caption {
        text-align: right;
        top: 12%;
        left: 53%;
        width: 33%;
    }
    .carousel-caption button {
        padding: 10px 25px 10px 20px;
    }
    .carousel-caption .learnmore {
        padding: 10px 25px 10px 20px;
    }
    .foods1 p:last-of-type  {
        display: block;
    }
    .formAppoinment {
        padding-right: 52px;
    }
    .procentage {
        color: #ffbe01;
        padding-left: 8px;
        padding-right: 20px;
    }
    .footerBody .openTime {
        margin-top: 38px;
    }
    /* BLOG PAGE START */
    .sideTags {
        margin-top: 37px;
    }
    /* BLOG PAGE END  */



}




@media (min-width:992px){
    
    /* SHOP PETS CSS START*/
    .filterMenu article {  
        margin-bottom: 71px;
        margin-top: 59px;
    }
    div.rangeSliderForm {
    width: 196px;
}
.nstSlider {
    width: 203px;
}
    /* SHOP PETS CSS END*/


}






@media (min-width:1200px){
    element {
    }
    .navbar-nav > li {
        padding-left: 45px;
    }
    .headerBottom .media {
        margin-top: 27px;
    }

    p.mailto {
        margin-left: 47px;
    }
    p.headerSocial {
        margin-right: 100px;
    }
    .carousel-caption h1 {
        font-size: 43px;
    }   
    .carousel-caption h2 {
        font-size: 36px;
    }   
    .carousel-caption p {
        display: inherit;
    }

    .carousel-caption {
        text-align: right;
        top: 38%;
        left: 53%;
        width: 33%;
    }
    .carousel-caption button {
        padding: 10px 25px 10px 20px;
    }
    .carousel-caption .learnmore {
        padding: 10px 25px 10px 20px;
    }

    .col-sm-2 .fa {
        font-size: 29px;
    }
    .about {
        padding-bottom: 68px;
        padding-top: 55px;
    }
    .col-sm-offset-3 {
        margin-bottom: 26px;
    }
    .servicesOffer h3 {
        margin-left: 75px;
    }
    .servicesOffer p {
        margin-left: 73px;;
    }
    /* BLOG CSS START*/

    .navbar-nav > li {
        padding-left: 42px;
    }
    /* BLOG CSS END*/

    .sideContent {
        margin-top: 60px;
    }
    .productsDetails {
        margin-top: 30px;
    }
}
